body {
    background-color: #eff2f5 !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.leaflet-container {
    height: 100%;
    width: 150%;
}

.ant-table-selection-column {
    display: none;
}
